@import "https://heerschop.github.io/pen/spacing/style.css";

.flex {
  display: flex;
  flex-direction: row;
}

.margin {
  margin: 50px 20px 50px 20px;
  width: 100%;
  height: auto;
}

.padding {
  box-sizing: border-box;
  padding: 50px 20px 50px 20px;
}

.padding div {
  width: 100%;
  height: 100%;
}
