@import "https://heerschop.github.io/pen/default.css";
body div {
    all: initial;
    box-sizing: border-box;
    border-color: rgba(128, 128, 128, 0.8);
    border-style: solid;
    border-width: 2px;
    width: 300px;
    height: 300px;
    margin: 30px;
    resize: both;
    overflow: hidden;
    padding: 2px;
}

body div div {
    all: initial;
    z-index: -1;
    margin: 2px;
}