@import "https://heerschop.github.io/pen/responsive/style.css";

.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-content: flex-start;
}

.micro {
  width: 56px;
  height: 100px;
}

.small {
  width: 200px;
  height: 100px;
}

.large {
  width: 290px;
  height: 100px;
}
