@import "https://heerschop.github.io/pen/parallax/style.css";

.container {
  overflow-y: scroll;
  perspective: 1px;
  display: flex;
  flex-direction: row;
}

.back {
  height: 320%;
  width: 33%;
  transform: translateZ(-0.5px) scale(1.5) translate(-35%, 11.5%);
}

.middle {
  height: 320%;
  width: 33%;
  transform: translateZ(+0px) scale(1) translate(+0px, +0px);
  margin-bottom: 500px;
}

.front {
  height: 320%;
  width: 33%;
  transform: translateZ(+0.5px) scale(0.5) translate(-98.5%, -34.6%);
}
