@import "https://heerschop.github.io/pen/parallax/style.css";

.container {
  overflow-y: scroll;
  perspective: 1px;
  display: flex;
  flex-direction: row;
}

.back {
  transform: translateZ(-0.5px) scale(1.5) translate(-76px, +116px);
}

.middle {
  transform: translateZ(+0px) scale(1) translate(+0px, +0px);
  margin-bottom: 300px;
}

.front {
  transform: translateZ(+0.5px) scale(0.5) translate(-212px, -346px);
}
