@import "https://heerschop.github.io/pen/default.css";

body > div {
  min-width: calc(278px * 2 + 40px);
  min-height: 290px;
  width: calc(320px * 2 + 40px);
}

body > div > div {
  height: 1000px;
  width: 33%;
  padding: 0px;
}

body > div > div > div {
  width: auto;
  height: 50px;

  color: rgba(255, 255, 255, 0.8);
  align-items: center;
  justify-content: center;
  font-weight: bold;
  margin: 4px;
}
