@import "https://heerschop.github.io/pen/default.css";

body > div {
  border-style: none;
  overflow: visible;
  margin: 0px 15px 0px 15px;
  padding: 0px;
  width: auto;
  height: auto;

  display: grid;
  grid-template-columns: auto auto;
}

body > div > div {
  box-sizing: border-box;
  background: none;

  border-color: rgba(128, 128, 128, 0.8);
  border-style: solid;
  border-width: 2px;
  width: 155px;
  height: 155px;
  margin: 5px;
  resize: both;
  overflow: hidden;
  padding: 2px;
}

body > div > div > div {
  background: rgba(0, 128, 128, 0.8);
  width: 40px;
  height: 40px;
  margin: 2px;
}
