@import "https://heerschop.github.io/pen/grid/style.css";

.container {
  display: grid;
  grid-template-rows: 40px auto 40px auto 40px;
  grid-template-columns: 40px auto 40px auto 40px;
  grid-gap: 4px;
}

.row-span {
  grid-column-start: 1;
  grid-column-end: 6;
}
