@import "https://heerschop.github.io/pen/grid/style.css";

.container {
  display: inline-grid;
  grid-template-rows: 40px auto 40px auto 40px;
  grid-template-columns: 40px auto 40px auto 40px;
  grid-gap: 4px;
}

.column-span-top {
  grid-column-start: 1;
  grid-column-end: 6;
}

.column-span-bottom {
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 5;
}

.row-span-left {
  grid-row-start: 2;
  grid-row-end: 5;
  grid-column-start: 1;
}
.row-span-right {
  grid-row-start: 2;
  grid-row-end: 5;
  grid-column-start: 5;
}
.center {
  grid-column-start: 3;
  grid-row-start: 3;
}
