@import "https://heerschop.github.io/pen/default.css";

body > div > div {
  color: rgba(255, 255, 255, 0.6);
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}
